@media (max-width: 992px) {
    .navbar{
        gap: 30px;
       
    }
    .cart-icon{
        border: 1px solid var(cyan);
        padding: 10px 12px;
    }
    .logo{
        width: 150px;
    }
    main {
        padding: 100px 20px;
        gap: 70px;
    }
    .header{
        gap: 80px;
        width: 100%;
    }
    
    .navbar-list{
        position: fixed;
        top: 105px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: var(--azul);
        border: 4px solid var(--cyan);
        border-top: 0px;
        border-radius: 0px 0px 12px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        display: none;
    }
    #iniciarsesion{
        display: flex;
        background-color: var(--gris);
        border-radius: 2%;
        color: var(--azul);
        flex-direction: column;
        padding: 140px 0;
    }
      .iniciarsesion-a a:first-child{
        color: var(--cyan);
      }
    .iniciarsesion-a a:hover{
        color: var(--magenta);
    }
    .navbar-list a{
        font-size: 18px;
    }
    .open-menu {
        display: flex;
      }
    .menu-label{
        display: flex;
        order: 2;
        cursor: pointer;
    }
    .menu-label img,
    .cart-img img{
        min-width: 25px;
    }
    #hero{
        flex-direction: column;
        gap: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .hero-container-izq{
        width: 100%;
        gap: 40px;
        
    }
    .hero-container-der{
        width: 100%;
        max-width: 900px;
        min-width: unset;
    }
    .hero-img{
        align-items: center;
    }
    .hero-img img{
        width: 400px;
        height: 300px;
        align-self: center;
    }
    .hero-h1{
        width: 100%;
        max-width: 900px;
        min-width: unset;
        font-size: 35px;
    }
    .hero-h3{
        width: 100%;
        max-width: 900px;
        min-width: unset;
    }

    #beneficios {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
    .beneficios-container{
        flex-direction: column;
        width: 100%;
        padding: 0px 30px;
        background-color: transparent;
        color: var(--blanco);
    }
    .beneficios-der,
    .beneficios-izq{
        width: 100%;
    }
    .beneficios-izq{
        display: none;
    }
    #productos,
    #contacto{
        text-align: center;
        align-content: center;
    }
    .productos-h2{
        width: 100%;
        justify-content: center;
    }
    .productos-cards{
        flex-wrap: wrap;
        width: 100%;
        justify-content:center;
        align-items: center;
    }
    .productos-container{
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
    }
    .card{
        width: 33%;
        min-width: 230px;
        max-height: 400px;
        padding: 10px;
        gap: 20px;
    }
    
    .card img{
        width: 170px;
        height: 165px;
    }
    .cards-vertodo{
        justify-content: center;
    }
    .cards-vertodo a{
        font-size: 18px;
    }
    .contact-container{
        flex-direction: column;
        gap: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .contact-forms input{
        max-width: 500px;
    }
    .contact-forms label{
        align-self: flex-start;
    }
    .container-registro{
        flex-direction: column;
        background-color: var(--gris);
    }
    .registro-h3 h3{
        color: var(--azul);
        font-weight: 800;
    }
    .register-input,
    .register-form{
        color: var(--azul);
        font-weight: 800;
    }
    #registro{
        gap: 30px;
    }
    .registro-img{
        display: none;
    }
    #iniciarsesion{
        width: 100%;
    }
    .container-iniciarsesion{
        width: 100%;
        max-width: 900px;
        min-width: unset;
        padding: 0 50px;
    }
    .contact-h2{
        text-align: center;
    }
    .contact-h3{
        display: none;
    }
    .registro-form input{
        max-width: 1000px;
        min-width: 300px;
    }
    .iniciarsesion-form{
        width: 300px;
    }
    .iniciarsesion-form small {
        width: 100%;
    }
    .iniciar-input input {
        min-width: 200px;
    }
    #telefono,
    #nacimiento{
        max-width: 300px;
    }
    .registro-form select{
        max-width: 300px;
    }
}
@media (max-width: 576px){
    .navbar{
        gap: 20px;
        justify-content: flex-start;
    }
    main {
        padding: 170px 10px;
        gap: 50px;
    }
    .cart{
        max-width: 400px;
    }
    .logo{
        width: 120px;
    }
    .hero-img{
        display: none;
    }
    #hero{
        width: 100%;
        padding: 0;
        gap: 0;
    }
    .hero-container-izq{
        gap: 50px;
    }
    .hero-h3{
        flex-wrap: wrap;
        width: 90%;
        max-width: unset;
        min-width: unset;
        font-size: 14px;
    }
    .hero-h1 {
        font-size: 25px;
        flex-wrap: wrap;
        width: 100%;
        max-width: unset;
        min-width: 450px;
    }
    .beneficios-h2,
    .beneficios-h3{
        display: none;
    }
    .boton1{
    padding: 23px 10px;
    border-radius: 5%;
    font-weight: 700;
    font-size: 15px;
    } 
    .boton2{
    padding: 15px 10px;
    border-radius: 5%;
    font-weight: 700;
    font-size: 15px;
    }
    .productos-h2 h2{
        text-align: center;
    }
    .card{
        width: 50%;
        min-width: 350px;
        max-height: 500px;
    }
    .card img{
        width: 250px;
        height: 245px;
    }
    .card-h3{
        font-size: 18px;
    }
    .card-descuento a{
        font-size: 30px;
    }
    #contact{
        width: 100%;
    }
    .contact-container{
        width: 100%;
        border-radius: 2%;
    }
    .iniciarsesion-h2{
        justify-content: center;
    }
    .iniciarsesion-a{
        flex-direction: column;
    }
    .container-iniciarsesion{
        align-items: center;
    }

    .iniciar-input input{
        width: 300px;
      }
    .contact-forms input{
        width: 300px;
        max-width: inherit;
        min-width: unset;
    }
    .contact-izq,
    .contact-der{
        width: 100%;
        max-width: 400px;
        min-width: unset;
    }
    #info{
        width: 20px;
    }
    .iframe iframe{
        width: 400px;
        height: 250px; 
    }
    #footer{
        gap: 10px;
    }
    .logo-footer img{
        width: 50px;
        height: 50px;
    }
}